@import '@assets/scss/color.scss';

html {
  font-size: 100px;
  background: $-color-bg-grey;
  user-select: none;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.omit {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.hidden {
  opacity: 0;
  transform: translateY(0);
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.remove {
  transform: translateY(100%);
}

.add {
  transform: translateY(-100%);
}

.add-active {
  opacity: 0;
}

.list-enter {
  animation: list-enter 500ms linear forwards;
}

.list-remove {
  animation: list-remove 500ms linear forwards;
}

.list-remove-active {
  animation: list-remove-active 500ms linear forwards;
  transform-origin: 0 0;
}

.list-add {
  animation: list-add 500ms linear forwards;
}

.list-add-active {
  animation: list-add-active 500ms linear forwards;
  transform-origin: 0 0;
}

.cart-list-add-active {
  animation: cart-list-add-active 500ms linear forwards;
  transform-origin: 0 0;
}

@keyframes list-enter {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes list-remove {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes list-remove-active {
  from {
    opacity: 1;
    transform: scaleX(1);
  }
  to {
    opacity: 0;
    transform: scaleX(0);
  }
}

@keyframes list-add {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes list-add-active {
  from {
    opacity: 0;
    transform: scaleX(0);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes cart-list-add-active {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}
