@import '@assets/scss/color.scss';

html {
  font-size: 100px;
  background: $-color-bg-grey;
  user-select: none;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.omit {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.fade-enter {
  opacity: 0;
  transform: translateY(100%);
}
.fade-enter-active {
  opacity: 1;
  transition: all 500ms ease-in;
  transform: translateY(0);
}
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transition: all 500ms ease-in;
  transform: translateY(-100%);
}
