$-color-theme-blue: #409eff;
$-color-theme-light-blue: #b3d8ff;
$-color-theme-red: #eb5a46;
$-color-border-light-grey: #dfdfdf;
$-color-border-lighter-grey: #dddddd;
$-color-border-grey: #e1e2e8;
$-color-bg-white: #ffffff;
$-color-bg-light-grey: #f4f4f4;
$-color-bg-grey: #f4f6f9;
$-color-font-grey: #757575;
$-color-font-black: #333333;
$-color-shadow-light-black: rgba(0, 0, 0, 0.1);
$-color-modal-bg-black: rgba(0, 0, 0, 0.5);
